<div class="global">
  <img src="../../assets/images/B&D.png" alt="logo B&D">
  <div class="texts">
    <h1>Welcome to SmartRef</h1>
    <p class="lead">Knowing better our bests achievements, build or find them!</p>
  </div>
  <div class="tableDiv">
    <table>
      <tr>
        <th><button class="btn btn-light btn-lg" [routerLink]="['/builder']">Builder</button></th>
        <th><button class="btn btn-light btn-lg" [routerLink]="['/finder']">Finder</button></th>
        <th><button class="btn btn-light btn-lg" [routerLink]="['/dashboard']">Dashboard</button></th>
        <th><button class="btn btn-light btn-lg" [routerLink]="['/dataquality']">Data Quality</button></th>
      </tr>
      <tr>
        <td><i class="bi bi-tools" style="font-size: 2rem;"></i></td>
        <td><i class="bi bi-search" style="font-size: 2rem;"></i></td>
        <td><i class="bi bi-bar-chart-line" style="font-size: 2rem;"></i></td>
        <td><i class="bi bi-patch-check" style="font-size: 2rem;"></i></td>
      </tr>
  </table>
  </div>
</div>
